body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ui.form .field > label {
	display: none;
}

#profile {
	text-align: center;
}

#about-me, #friends {
	float: left;
	width: 30%;
	margin: 15px;
	
}

#friends {
	overflow-y: scroll;
}

#friendImage {
	border-radius: 25px;
}

#friendImage:hover {
	border: 3px solid slategray;
	border-radius: 50px;

}

#friendName {
	background-color: 
}





